name: Publish Windows Maui

on:
   workflow_dispatch: # This triggers the workflow manually

jobs:
  build:

    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
 

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
          # cd "$currentPath"
    - name: Build App
      run: |
            dotnet workload install maui-windows
            dotnet build -f net9.0-windows10.0.19041.0 -c Debug
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: bin/


